body{
    background-color: antiquewhite;
    color: saddlebrown;
    font-family: Consolas;
    margin: 0px;
}
header {
    background-color: rgb(146, 65, 65);
    color: white;
    font-family:Comic Sans MS ;
    font-size:small;
    margin: 0px;
    padding-top: 0.5px;
    text-align: center;
}
main {
    color: maroon;
    font-family: lucida console;
    font-size: 16px;
    margin: 2px;
}
footer {
    background-color: rgb(146, 65, 65);
    color: white;
    font-family: Comic Sans MS;
    margin: 0px;
    padding-right: 5px;
    font-style: italic;
    text-align: right;
    position: fixed;
    bottom:0;
    right: 0;
    left: 0;

}

img{
    width:30%;
    height: 50%;
}
.flask{
    background-color: rgb(234, 239, 209);
    text-align: justify;
    border: 3px solid brown;
    padding: 2%;
    font-size: large;
}

div.button {
    border: 5px solid maroon;
    width:300px;
    margin: 0;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: gray;
    background-color: white;


}
ul.route-list li {
    background-color: rgb(234, 239, 209);
    border: 1px solid brown;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

ul.route-list li a {
    color: maroon;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

ul.route-list li a:hover {
    color: saddlebrown;
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse; 
    margin-bottom: 20px;
}
th {
    background-color: salmon;
    border: 2px solid salmon;
    padding: 8px;
    text-align: center;
}

td {
    border: 2px solid salmon;
    padding: 8px;
}

.cars {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.car {
    border: 2px solid salmon;
    padding: 60px;
    text-align: center;
    width: 300px;
}

.car img {
    width: 300px;
    height: auto;
}

.car h2 {
    margin: 10px 0;
}

ol.route-list li {
    background-color: rgb(234, 239, 209);
    border: 1px solid brown;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

ol.route-list li a {
    color: maroon;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

ol.route-list li a:hover {
    color: saddlebrown;
    text-decoration: underline;
}
