body{
    background-color: antiquewhite;
    color: saddlebrown;
    font-family: Consolas;
    margin: 0px;
}

img{
    width:50%;
    height: 50%;
}

div.button {
    border: 5px solid maroon;
    width:300px;
    margin: 0;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: gray;
    background-color: white;


}