{% extends "base.html" %}

{% block lab %} Лабораторная работа 8 {% endblock %}

{% block main %}
    <h1>Список статей</h1>
    🍪 - <b>Публичная</b> статья <br>
    ⭐️ - <b>Избранная</b> статья

    {% if articly %}
        <ul>
            {% for article in articly %}
            <div class="text">
                <h2>
                    {% if article.is_favorite %}⭐️{% endif %}
                    {% if article.is_public %}🍪{% endif %}
                    {{ article.title }}
                </h2>
                <p>{{ article.article_text }}</p>
                <div>
                    {% if current_user.is_authenticated %}
                    <a href="/lab8/articles/edit/{{ article.id }}">Редактировать</a>
                    <form action="/lab8/articles/delete/{{ article.id }}" method="POST" style="display:inline;">
                        <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить эту статью?')">Удалить</button>
                    </form>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>У вас нет статей.</p>
    {% endif %}

    <a href="/lab8/create/">Создать статью</a>
{% endblock %}