{% extends "base.html" %}

{% block lab %} Лабораторная работа 8 {% endblock %}

{% block main %}
    <h1>Редактировать статью</h1>

    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}

    <form action="/lab8/articles/edit/{{ article.id }}" method="post">
        <div>
            <label>
                Заголовок: <br>
                <input type="text" name="title" value="{{ article.title }}" required>
            </label>
        </div>

        <div>
            <label>
                Текст статьи: <br>
                <textarea name="article_text" required>{{ article.article_text }}</textarea>
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="is_favorite" {% if article.is_favorite %}checked{% endif %}> Избранная
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="is_public" {% if article.is_public %}checked{% endif %}> Публичная
            </label>
        </div>

        <button type="submit">Сохранить изменения</button>
    </form>
{% endblock %}