{% extends "base.html" %}

{% block lab %} Лабораторная работа 8 {% endblock %}

{% block main %}
    <style>
        .text{
            background-color: aliceblue;
            border: 2px black solid;
            margin-bottom: 20px;
            width: 600px;
            height: 200px;
            padding: 10px;
            display: inline-block;
            margin-right: 50px;
            margin-left: 30px;
            border-radius: 10px;
        }
    </style>
    <h1>Публичные статьи</h1>
    👥 - <b>Публичная</b> статья <br>
    ⭐️ - <b>Избранная</b> статья

    {% if public_articles %}
        <ul>
            {% for article in public_articles %}
                <div class="text">
                    <b>{{ article.title }}</b> 
                <p>{{ article.article_text }}</p>

                <!-- Вывод избранной статьи (звездочка) -->
                {% if article.is_favorite %}⭐️{% endif %}

                <!-- Вывод публичной статьи (слово "публичная") -->
                {% if article.is_public %}👥{% endif %} <br>

                {% if current_user.is_authenticated %}
                    <a href="/lab8/articles/edit/{{ article.id }}">Редактировать</a>
                {% endif %}
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет публичных статей.</p>
    {% endif %}
{% endblock %}